<div class="rsz-footer">
  <div class="am-g am-g-fixed">
    <div class="col-md-4 col-md-push-8 am-u-md-4 am-u-md-push-8">
    </div>
    <div class="col-md-8 col-md-pull-4 am-u-md-8 am-u-md-pull-4">
      <ul class="rsz-links">
        <li>
          <a class="github-button" href="https://github.com/athrunsun/natl" data-icon="octicon-star" data-style="mega" data-count-href="/athrunsun/natl/stargazers" data-count-api="/repos/athrunsun/natl#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star athrunsun/natl on GitHub">Star</a>
        </li>
        <li>
          <a class="github-button" href="https://github.com/athrunsun/natl/fork" data-icon="octicon-git-branch" data-style="mega" data-count-href="/athrunsun/natl/network" data-count-api="/repos/athrunsun/natl#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork athrunsun/natl on GitHub">Fork</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="right: 77.5px;">
  <a href="#top" title="Top" class="am-icon-btn am-icon-arrow-up"></a>
</div>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<script src="{{ "/static/jquery/jquery-2.1.3.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/static/jquery/jquery-ui.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/static/amazeui/js/amazeui.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/static/lightbox/lightbox.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
