<div class="rsz-footer">
  <div class="am-g am-g-fixed">
    <div class="col-md-4 col-md-push-8 am-u-md-4 am-u-md-push-8">
    </div>
    <div class="col-md-8 col-md-pull-4 am-u-md-8 am-u-md-pull-4">
      <h2 class="rsz-fd"><a>ROL AT Wiki</a></h2>
      <ul class="rsz-links">
        <li>
          <a href="http://git.dev.activenetwork.com/snh-smlite-selenium2-java/rolatwiki">Source Code For This Site</a>
        </li>
      </ul>
      <p class="rsz-cp">&copy; 2015 RegOnline</p>
    </div>
  </div>
</div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="right: 77.5px;">
  <a href="#top" title="Top" class="am-icon-btn am-icon-arrow-up"></a>
</div>
<script src="{{ "/static/jquery/jquery-2.1.3.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/static/jquery/jquery-ui.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/static/amazeui/js/amazeui.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
